@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .benefits-list-item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }
  .benefits-item-title {
    text-align: start;
  }
  .benefits-list {
    gap: 72px 24px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .customers-list {
    gap: 72px 24px;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-item-title {
    font-weight: 500;
    font-size: 20px;
  }
  .benefits-item-text {
    font-weight: 400;
  }
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .product {
    display: block;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
