:root {
  --active-color: #404bbf;
  --title-color: #2e2f42;
  --button-color: #f4f4fd;
  --p-color: #434455;
  --button-main-color: #4d5ae5;
  --button-portfolio-main: #e7e9fc;
  --white: #ffffff;
  --customers-color: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 428px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
/**----------------INDEX-------------**/

.hero-start {
  background-color: #2e2f42;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.hero-start-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-start-butoon {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--button-main-color);
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-start-butoon:hover {
  background-color: #404bbf;
}

.hero-start-butoon:focus {
  background-color: #404bbf;
}
/**----------------INDEX-Benefits---------------**/
.benefits {
  padding: 96px 0;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}
.container-icon {
  display: none;
}

.benefits-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
  text-align: center;
}
.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

/**---------------INDEX-PRODUCT--------------**/
.product {
  display: none;
  padding-bottom: 120px;
}
.product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}

.product-list {
  display: flex;
  gap: 24px;
}
.product-list-item {
  width: calc((100% - 48px) / 3);
}

/**----------------TEAM---------------**/

.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 216) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--button-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:is(:hover, :focus) {
  background-color: #404bbf;
}
.team-soc-svg {
  fill: #f4f4fd;
}
/**----------------HEADER-------------**/
.header-container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}

.list {
  list-style-type: none;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:is(:hover, :focus) {
  color: var(--active-color);
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
  margin-left: auto;
}
.header-address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:is(:hover, :focus) {
  color: var(--active-color);
}
/**----------------PORTFOLIO-HERO-------------**/

.hero-portfolio-start {
  padding-top: 96px;
  padding-bottom: 120px;
}
.hero-portfolio-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.hero-portfolio-menu-item {
  list-style-type: none;
}
.hero-menu-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: var(--button-color);
  padding: 12px 24px;
  border: 1px solid var(--button-portfolio-main);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-menu-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  flex: none;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-menu-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  flex: none;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**------------------PORTFOLIO-HERO-PRODUCTS---------------**/

.hero-products-menu {
  list-style-type: none;
}
.hero-products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.hero-products-item {
  width: calc((100% - 48px) / 3);
}

.prod-img-countainer {
  position: relative;
  overflow: hidden;
}
.prod-hide-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover .prod-hide-text {
  transform: translate(0);
}
.product-link:focus .prod-hide-text {
  transform: translate(0);
}
.name-products-countainer {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.hero-products-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.hero-products-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--p-color);
}

.product-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*-------------CUSTOMERS--------------------*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  align-items: center;
  justify-content: center;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-list-svg {
  fill: currentColor;
}
/**-----------FOOTER---------**/
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--button-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-svg {
  fill: var(--button-color);
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}


.footer-sub-label {
}

.footer-email-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-email-input::placeholder {
  color: #ffffff;
}

.footer-submit-btn {
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  cursor: pointer;
  color: var(--white);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

.footer-subscribe-svg {
  margin-left: 16px;
}
/*---------------------------MODAL----------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #4d5ae5;
}

.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .modal-svg {
  fill: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}
.checkbox-modal-container {
  margin-bottom: 24px;
}

.checkbox-modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}

.checkbox-modal-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.pp-link {
  color: var(--button-main-color);
}

input:checked .checkbox-modal-span {
  background-color: #404bbf;
}
.button-submit {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:is(:hover, :focus) {
  background-color: var(--active-color);
}

.checkbox-modal:checked + .checkbox-modal-label > .checkbox-modal-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
